@charset "UTF-8";

.rightcolumn{
	width: 30%;
}
.leftcolumn{
	width: 70%;
}
.board{
	display: flex;
	justify-content: center;
	align-items: center;
}

.board th{
	padding: 1rem;
	background-color: #f2f4f5;
}

.board td{
	padding: 1.5rem;
	border-bottom: 1px solid gray;
	border-collapse: collapse;
}
.board a{
	cursor: pointer;
	text-decoration: none;
	color: #333;
}
.boardWrap{
	width: 600px;
}
.boardBox{
	width:100%;
	height: 100px;
	padding: 40px;
	cursor: pointer;
	border-radius: 1rem;
	font-size: 20px;
}
.boardBox:hover{
	background-image:url('../img/main.webp')
}
.homeBox{
	margin-bottom: 50px;
	border-radius: 0 0 1rem 1rem;
	border: 2px solid #d7d8da;
	border-top: 0;
}
.home,.home1,.home2,.home3{
	color: #f1f1f1;   
    padding: 20px;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
}
.home{
	background-color: #f2f4f5;
}
.home1{
	background-color: #3c3c3c;
	border-radius: 0.8rem 0.8rem 0 0;
	text-align: center;
}
.home2{
	color: #333;
	background-color: #f2f4f5;
	border-radius: 0 0 0 0;
}
.home2 > div{
	margin: 0;
	padding: 1rem;
	border-bottom: 1px solid #d7d8da;
	cursor: pointer;
}
.home2 > div:hover{
	color: #317188;
	background-color: #ffffff;
}
.home3{
	color: #666666;
	background-color: #ffffff;
	border-radius: 0 0 0.8rem 0.8rem;
	border-top: 1px solid #d7d8da;
}
.searchBox {
	display: flex;
	justify-content: center;
	width: 100%;
}
.searchBox input{
    border-radius: 0;
    width: 80%;
    padding: 0.5rem;
    font-size: 15px;
}
.searchBox button{
	border-radius: 0;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	cursor: pointer;
}
.board a{
	cursor: pointer;
	text-decoration: none;
	color: #333;
}
.viewBox{
	width: 90%;
	min-height: 500px;
	max-height: 500px;
	overflow: auto;
	border-radius: 1rem;
	background-color: rgba(255,255,255,0.5);
	padding: 15px;
}
.view{
	display: flex;
	justify-content: center;
	width: 100%;
}
.view a{
	padding: 2rem;
	font-size: 15px;
	color: #333;
}
.view a:hover{
	color: white;
}
.view button{
	margin: 10px;
}
.write{
	width: 750px;
	text-align: right;
}
.write button{
	background-color: #539cae;
	color: #f2f2f2;
	border-radius: 0.3rem;
	border: 0;
	cursor: pointer;
	padding: 0.5rem;
}
table{
	width: 90%;
}
button{
	text-align: center;
	background-color: #539cae;
	color: #f2f2f2;
	border-radius: 0.3rem;
	border: 0;
	cursor: pointer;
	padding: 0.5rem;
}

@media screen and (max-width: 750px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
    table,.write {
    	width: 100%;
    }
}