@charset "UTF-8";

.fakeimg {	
	min-width: 200px;
	max-width: 470px;
	max-height: 640px;
	margin: 20px;
}
@media screen and (min-width: 600px) {
	.movie {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.videowrapper{
		margin: 40px;
	}
}
.fakeimg{
	cursor: pointer;
}
button{
	margin-top: 10px;
	padding: 0.5rem;
	cursor: pointer;
	border: 0;
	border-radius: 0.1rem;
	color: #f2f2f2;
	background-color: #539cae;
}
button:hover{
	background-color: #333;
}
.a {
    position: relative
}
.c {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.a > .c {
    display: block;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
	margin-bottom: -20px;
}
