@charset "UTF-8";

.fakeimg {	
	min-width: 200px;
	max-width: 220px;
	margin: 20px;
}
@media screen and (min-width: 600px) {
	.movie {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.videowrapper{
		margin: 40px;
	}
}
.fakeimg{
	cursor: pointer;
}
button{
	margin-top: 10px;
	botton: 0;
	padding: 0.5rem;
	cursor: pointer;
	border: 0;
	border-radius: 0.1rem;
	color: #f2f2f2;
	background-color: #539cae;
}
button:hover{
	background-color: #333;
}
