@charset "UTF-8";
.fakeimg {
	position: relative;
	min-width: 330px;	
	min-height: 488px;	
	cursor: pointer;
	margin: 20px;
}
.fakeimg:hover {
	background-color: #fff;
    opacity: 0.3; /* 투명도 지정*/
}

@media screen and (min-width: 550px) {
	.movie {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.fakeimg{
		min-width: 120px;
		min-height: 172px;
		margin: 5px;
	}
}
@media screen and (min-width: 750px) {
	.fakeimg{
		min-width: 170px;
		min-height: 243px;
		margin: 10px;
	}
}
@media screen and (min-width: 1200px) {
	.fakeimg{
		min-width: 250px;
		min-height: 358px;
		margin: 20px;
	}
}