@charset "UTF-8";

.qna{
	display: flex;
	justify-content: center;
	align-items: center;
}

.qna table{
	min-width: 400px;
}

.qna th{
	padding: 1.5rem;
	background-color: #818181;
}

.qna td{
	padding: 1.5rem;
	border-bottom: 1px solid gray;
	border-collapse: collapse;
}

.qna td:hover{
	background-color: #818181;
}