@charset "UTF-8";
* {
    box-sizing: border-box;
    
}

html { 
	position: relative;
	min-height: 100%;
	margin: 0;
	background-color: papayawhip; 
} 
body {
    max-width: 1200px; /* 화면이 일정크기 이상 늘어나지않도록합니다.*/
    min-height: 100vh;
    background-color: papayawhip; 
    margin: 0 auto;
}
body {
    font-family: Fixedays;
    padding: 10px;
}
/* 제목 */
header {
    padding: 20px;
    text-align: center; 
    border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
header a{
	font-size: 50px;
	text-decoration: none;
	color: black;
	
}
header a:hover{
	font-size: 55px;
}
.top {
	margin: 50px;
	text-align: center;
	font-size: 20px;
}
.box { /* header 부분 효과 미완성*/
    display: block;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}
.box:hover {
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: #333;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu > li {
  float: left;
  position: relative;
}

#main-menu > li > a {
  font-size: 0.85rem;
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
  border-right: 1px solid rgba(0,0,0,0.15);
}

#main-menu > li:nth-child(1) > a {
  border-left: 1px solid rgba(0,0,0,0.15);
}

#sub-menu {
  position: absolute;
  width: 100%;
  background: #f2f2f2;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

#sub-menu > li {
  padding: 10px 10px;
  text-align: center;
}

#sub-menu > li >  a {
  color: #333;
  text-decoration: none;
}

#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu > li >  a:hover {
  text-decoration: underline;
}
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: papayawhip; 
    padding-left: 20px;
}
/* 사진넣을곳 */
.fakeimg {
    background-color: #aaa;
    border-radius: 0.5rem;
    /*포스터사진의 비율을 맞춰줍니다.*/
    background-size: cover;
    background-position: 50%;
}
.movie {
	color: #f1f1f1;
    background-color: #333;
    padding: 20px;
    margin-top: 20px;
    border-radius: 0.5rem;
}

.searchBox input {
	width: 100%;
	opacity: 0.7;
	padding: 0.3rem;
	border-radius: 0.3rem;
}
.searchBox button {
	background-color: #539cae;
	color: #f2f2f2;
	border-radius: 0.3rem;
	border: 0;
	cursor: pointer;
	padding: 0.5rem;
}
section{
	min-height: 700px;
}
section:after {
    content: "";
    display: table;
    clear: both;
}




/* Footer */
footer {
	margin-top: 10px;
	bottom: 0;
	width: 100%;
    background-color: #ffffff;
    opacity: 0.5;
    padding: 5px;
    text-align: center;
    background: papayawhip; 
    font-size: 10px;
}
/*유튜브 동영상 비율*/
.videowrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 비율인 경우 */
	/* padding-bottom값은 4:3 비율인 경우 75%로 설정합니다 */
	padding-top: 25px;
	height: 0;
}

.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
}

@media screen and (max-width: 700px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
    #main-menu > li > a {
    	padding: 14px 10px;
    }
    .searchBox {
		display:flex;
		justify-content:center;
		width:100%;
	}
    .searchBox input{
    	border-radius: 0;
    	width: 50%;
    }
    .searchBox button{
	    border-radius: 0;
	    border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
		cursor: pointer;
	}
}
/* 반응형 레이아웃  */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}